h1 {
    font-family: sofia-pro,sans-serif;
    font-weight: 700;
     font-style: normal;
    font-size: 100px;
    color: #00256E;
}

main {
    padding: 30px;
}

.linear-simple{
    padding: 3%;
    background-image: linear-gradient(0, #ACD3FF, white);  
}
.linear-inverted{
    padding: 10%;
    background-image: linear-gradient(0, white, #ACD3FF);  
}
body{
    background-color: #ACD3FF;
}